.copy-link-body{
    background-color: #F5FCD7; 
    flex-grow: 1; 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
}

.shortened-link-container {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: flex-start;
    width: 300px;
    margin-bottom: 10px; 
}

.shortened-link-input {
    background-color: #F5FCD7;
    width: 80%; 
    height: 30px;
    border: 1px solid #ccc; 
    box-sizing: border-box;
    font-family: 'Arial', sans-serif; 
    margin: 0; 
    border-radius: 4px; 
    border: 2px solid black;
}

.copy-link-input {
    background-color: #F6FCD7;
    width: 300px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 4px; 
}

.submission-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 600px; 
}

.original-link-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    word-wrap: break-word; 
}

.shortened-link-wrapper {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.original-link-label {
    margin-bottom: 0;
    font-size: 16px;
    color: #333;
}

.original-link-body {
    font-size: 16px;
    color: #00bcd4;
    text-align: left; 
    font-weight: bold;
    margin-top: 0; 
    width: 100%;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
}

.copy-button {
    width: 20%; 
    height: 30px;
    padding: 4px;
    background-color: #00bcd4; 
    color: white;
    cursor: pointer;
    text-align: center;
    font-size: 0.75em;
    border-radius: 4px;
    border: none;
}

.copy-message-body {
    margin-top: 10px; 
    font-size: 14px;
    text-align: center; 
}