.login-page {
    font-family: 'Arial', sans-serif;
    color: #3C4040;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    background-color: #ffffff;
    height: 100vh;
    justify-content: flex-start;
}

.shorten-link-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #82E1E6;
    height: 20vh;
    flex-direction: column;
    padding-top: 2em;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 5em;
}

.shorten-link-header-text {
    margin: 0;
    color: #3C4040;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
}
