body {
    margin: 0 auto;
}

.login-page {
    font-family: 'Arial', sans-serif;
    color: #3C4040;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    background-color: #ffffff;
    height: 100vh;
    justify-content: flex-start;
}

.login-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #82E1E6;
    height: 20vh;
    flex-direction: column;
    padding-top: 2em;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 5em;
}

.login-header-text {
    margin: 0;
    color: #3C4040;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
}

.login-form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 0;
    padding: 0 20px;
}

.email-input-container,
.password-input-container {
    margin-top: 1em;
    width: 100%; 
    display: flex;
    flex-direction: column;
}

.email-label,
.password-label {
    text-align: left;
    margin-bottom: 5px;
    font-size: 1em;
}

.email-input,
.password-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

.login-button {
    padding: 10px 16px;
    border: none;
    background-color: #00bcd4;
    border-radius: 4px;
    margin-top: 20px;
    color: white;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    align-self: center; 
    width: 75%;
    height: 3em;
}

.exclamation-mark {
    height: 2em;
    width: 2em;
}

.missing-field {
    color: red;
}